PORT=9000
MONGO_URI="mongodb+srv://<username>:<password>@<mongoDbHostAddress>/<databasename>?retryWrites=true&w=majority&appName=TheTechShopCluster"
OPENAI_API_KEY="sk-valid_openai_api_key_with_gpt3.5_access"
